[submodule "openreil"]
    path = openreil 
    url = https://github.com/Cr4sh/openreil.git
    branch = master

[submodule "debit"]
    path = debit
    url = https://github.com/djn3m0/debit.git
    branch = master

[submodule "angr"]
    path = angr
    url = https://github.com/angr/angr.git
    branch = master

[submodule "pycparser"]
    path = pycparser
    url = https://github.com/eliben/pycparser.git
    branch = master

[submodule "ida-splode"]
    path = ida-splode
    url = https://github.com/zachriggle/ida-splode.git
    branch = master

[submodule "i2pd"]
    path = i2pd
    url = https://github.com/PurpleI2P/i2pd.git
    branch = master

[submodule "miasm"]
    path = miasm
    url = https://github.com/cea-sec/miasm
    branch = master

[submodule "pyvex"]
    path = pyvex
    url = https://github.com/angr/pyvex
    branch = master

[submodule "pefile"]
    path = pefile
    url = https://github.com/erocarrera/pefile
    branch = master
